.section-one{
    height: 700px;
}


.list-carts{
    display:flex;
    flex-direction: column;
    
}

.list-carts table tr td{
    text-align: left;
}
img{
    width: 100px;
    height: 100px;
}

table{
    width: 50%;
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
}

button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #f0e0e0;
    cursor: pointer;
}
button:hover{
    background-color: #42b468;
    color: white;
}