.section-two{
    margin-left:290px;
    margin-top: 3px;
    padding: 20px 0px 0px 0px;
    width:1300px;
}

.section-two .top{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: black;
}

.section-two .top .top-content{
  width: 20%;
  font-size: 20px;
  font-weight: 600;
}
.section-two .top .top-list{
  display: flex;
  gap: 15px;
  width: 82%;
  justify-content: space-between;
}
.section-two .top .top-list a{
    display: inline-block;
    width: 12%;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 12px 10px 15px;
    border-radius: 7px;
    border: solid 1px rgb(88, 24, 104);
    text-align: center;
}
.section-two .top .top-list a:hover{
    background: rgb(129, 36, 125);
    border: solid 1px rgb(202, 17, 110);
}



/* danh sách sản phẩm  */
.section-two .list-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
    width:100%;
}
.section-two .list-products .product{
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(108, 52, 131, 0.08);
    padding: 18px 16px 16px 16px;
    width: 18%;
    height: 470px;
    transition: box-shadow 0.3s;
    overflow: hidden;
}

.section-two .list-products .product .branch_product{
  display: none;
}

.section-two .list-products .product a {
  display :inline-block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  overflow: hidden;
}
.section-two .list-products .product a:hover img{
  transform: scale(1.1);
  border-radius: 12px;
}


.product img {
  padding:10px;
  width: 198px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 17px;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.product img:hover{
  object-fit: cover;
  overflow: hidden;
  border-radius: 12px;

}

.product-name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 3px;
  text-align: center;
}

.product-describe {
  display : flex;
  justify-content: space-between;
  font-size: 13px;
  color: #0f22ce;
  margin-bottom: 3px;
  text-align: left;
}
.product-describe-button{
  border: solid 1px rgb(88, 24, 104);
  border-radius: 7px;
  padding: 2px 6px;
  font-weight: 500;
  color:red;
}
.product-describe-button:hover{
  background: rgb(196, 128, 190);
  color: black;
}


.product-desscribe-text{
  font-size: 11.5px;
  color: rgb(25, 23, 141);
  background: #c4ebe7;
  margin-top: 4px;
  text-align:left;
  padding: 2px;
  height: auto;
  border: 1px solid #80346d;
  border-radius: 8px;
}

.product-price {
  font-size: 20px;
  color: #d63031;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
}


.product-phone {
  width : 100%;
  border: none;
  border-radius: 8px;
  padding: 7px 18px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 4px;
  transition: background 0.2s;
  border: 1px solid #80346d;
  color: black;
  font-weight: 300;
}

.product-phone:hover {
  color: rgb(238, 85, 14);
}


/*  phân tranh cho trang web */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 24px 0;
}
.pagination button {
  padding: 6px 12px;
  border: none;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
}
.pagination .active-page {
  background: #6c3483;
  color: #fff;
  font-weight: bold;
}
