.news-detail{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

.news-detail .news-detail-content{
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
.news-detail .news-detail-content h2{
    font-size: 28px;
    color: #222;
    margin-bottom: 15px;
    text-align: center;
}
.news-detail .news-detail-content p{
    text-align: left;
}