
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #333;
}

.news-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto;
}

.news-list .news-item{
    display: flex;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.news-list .news-item:hover{
    background-color: #e0e0e0;
}


p{
    color: black;
}

img{
    border-radius: 8px;
    width: 460px;
    height: 200px;
    object-fit: cover;
}