.news-detail{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

.news-detail .news-detail-content{
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
.news-detail .news-detail-content h2{
    font-size: 28px;
    color: #222;
    margin-bottom: 15px;
    text-align: center;
}
.news-detail .news-detail-content p{
    text-align: left;
}

.product-more{
    margin-top: 10px;
    width: 400px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(129, 36, 125);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 690px;
}
.product-more:hover{
    background-color: rgb(30, 158, 87);
}

.product-more a{
    text-decoration: none;
    color: white;
    display:inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}