/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

body {
  background: #f5f5f5;
}

/* Header tổng */
.navbar {
  width: 100%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: linear-gradient(135deg, #6c3483, #512e5f);
  color: white;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 5px 5px 15px rgba(48, 197, 18, 0.3);
}

/* Thanh top nhỏ */

.top-bar {
  margin-left: 250px;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(to bottom, #6c3483, #512e5f);
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;

}

.top-bar-content {
  display: inline-block;
  padding-left: 80%;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* Thanh chính */
.main-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 20px;
  gap: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo-s {
  color: red;
  padding: 0 5px;
  border-radius: 4px;
  font-weight: bold;
}

/* Nút */
.btn {
  background: rgba(255,255,255,0.1);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn a{
  color: white;
  border-radius: 12px;
  align-items: center;
  gap: 5px;
}
.btn:hover {
  background: rgba(255,255,255,0.2);
}

/* Search */
.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 12px;
  padding: 5px 10px;
}
.search-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
}
.search-box i {
  color: #888;
}

/* Cart */
.cart {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.cart i {
  font-size: 18px;
}
.cart a{
  color: white;
  border-radius: 6px;
  align-items: center;
  gap: 5px;
  background: rgba(255,255,255,0.2);
  padding: 5px 10px;
}

/* Login */
.login {
  background: rgba(255,255,255,0.2);
}

.section-one{
    margin-left: 290px;
    width: 1300px;
    margin-top : 3px;
}

.section-one .section-one-content{
    display: flex;
    width:100%;
    height: auto;
}

.section-one .section-one-content .section-one-right{
    height:500px;
    width: 800px;
    overflow: hidden;
    position: relative;
}
.section-one .section-one-content .section-one-right .list-slides{
    height:100%;
    width:auto;
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ;
}
.section-one .section-one-content .section-one-right .list-slides img{
    width: 800px;
    height: auto;
    border-radius: 4px ;
    flex-shrink: 0;
}

.slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
}
.slider-btn {
    background: none;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    pointer-events: auto;
}
.slider-btn:hover {
    background: rgba(108,52,131,1);
}

.phone{
  display: flex;
  gap:20px;
}

.content-phone{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 1.6;
}

body{
  position: relative;
}

.Shopping-Cart {
  position: absolute;
  bottom: 10%;
  left: 33%;
}

.cart-total {
  /* margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px; */
 
}
.cart-total i{
  font-size: 30px;
  color: rgb(88, 24, 104);
}

.cart-total .checkout-btn {
  background: linear-gradient(135deg, #6c3483, #512e5f);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  
}
.checkout-btn .active{
  transform: translateY(10%);
}




