h2{
    text-align: center;
}

.section-one{
    height:650px;
}
.user-detail{
    margin: 20px;
    font-size: 18px;
}

.user-detail table{
    margin-top: 20px;
    margin-left: 450px;
    width: 50%;
    border-collapse: collapse;
    text-align: left;
    border: 2px solid #da2a2a;
}

.user-detail table td{
    padding: 12px;
    border: 1px solid #c03c3c;
}

.button-update{
    margin-left: 1103px;
    margin-top: 10px;
    background-color: #f0e0e0;
    width: 300px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.button-update a{
    text-decoration: none;
    color: black;
    display:inline-block;
    width:100%;
    height:100%;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
}

.button-update a:hover{
    color: white;
    background-color: #42b468;
}
