server:
  port: 8085


spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:3306/OrderDatabase
    username: root
    password: "@Luvanthanh24072005"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/


