server:
  port: 8888

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    prefer-ip-address: false

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
                - GET
                - POST
                - PUT
                - DELETE
                - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lower-case-service-id: false
      routes:
        # =================== USER SERVICE ===================
        - id: user-service # tên service
          uri: lb://user-service # nơi url được chuyển đến
          predicates:
            - Path=/api/users/** # url api mà khi gọi api sẽ dùng
          filters:
            - StripPrefix=1  # bỏ "/api" khi gọi đến service đó vì trong đấy dùng RequestMapping("/users")

        # =================== PRODUCT SERVICE ===================
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/products/**
          filters:
            - StripPrefix=1

        # =================== ORDER SERVICE ===================
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=1

        # =================== CART SERVICE ===================
        - id: cart-service
          uri: lb://cart-service
          predicates:
            - Path=/api/carts/**
          filters:
            - StripPrefix=1

        # =================== NEWS SERVICE ===================
        - id: news-service
          uri: lb://news-service
          predicates:
            - Path=/api/news/**
          filters:
            - StripPrefix=1